<div class="cleverreach">
    <div class="cleverreach__errors">
        <f:validation.results>
            <f:if condition="{validationResults.flattenedErrors}">
                <div class="validation-results">
                    <f:for each="{validationResults.flattenedErrors}" key="propertyName" as="errors">
                        <ul>
                            <f:for each="{errors}" key="label" as="error">
                                <li>
                                    <f:translate id="{error.code}" source="ValidationErrors"
                                                 package="KaufmannDigital.CleverReach">{error.message}
                                    </f:translate>
                                </li>
                            </f:for>
                        </ul>
                    </f:for>
                </div>
            </f:if>
        </f:validation.results>
    </div>

    <f:if condition="{node.properties.useAjax}">
        <f:then>
            <f:render section="ajax" />

        </f:then>
        <f:else>
            <f:render section="standard" />
        </f:else>
    </f:if>

</div>

<f:section name="standard">
    <f:form action="{formAction}" method="post" class="cleverreach__form">
        <f:form.textfield name="receiverData[email]" placeholder="{f:translate(id: 'email.placeholder', source: 'RegistrationForm')}"/>

        <f:form.hidden name="receiverData[source]" value="{sourceUrl}"/>
        <f:form.hidden name="receiverData[groupId]" value="{node.properties.groupId}"/>

        <f:form.submit value="{f:translate(id: 'button.submit.{formAction}', source: 'RegistrationForm')}"/>
    </f:form>
</f:section>


<f:section name="ajax">
    <form action="{f:uri.action(action: formAction, controller: 'Ajax', package: 'KaufmannDigital.CleverReach', useParentRequest: true, absolute: true)}" method="post" class="cleverreach__form cleverreach__form--ajax">
        <input type="text" name="receiverData[email]" placeholder="{f:translate(id: 'email.placeholder', source: 'RegistrationForm')}" />

        <input type="hidden" name="receiverData[source]" value="{sourceUrl}"/>
        <input type="hidden" name="receiverData[groupId]" value="{node.properties.groupId}"/>
        <input type="hidden" name="registrationForm" value="{node.contextPath}"/>

        <input type="submit" value="{f:translate(id: 'button.submit.{formAction}', source: 'RegistrationForm')}"/>
    </form>
</f:section>
